*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

html {
  font-family: $font-stack, $font-stack-fallback;
  font-size: 100%;
}

body {
  overflow-x: hidden;
  color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: $font-stack, $font-stack-fallback;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: $link-color;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

figure {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  pointer-events: none;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-size: 100%;
  line-height: 1.15;
}

button {
  cursor: pointer;
}
