/* Neutral Colors */
$black-color: #212121;
$white-color: #FFFFFF;
$gray-color: #4F4F4F;

/* Theme Colors */
$primary-color: #00b2ee;
$emphasis-color: lighten($black-color, 80%);
$emphasis-d-color: lighten($black-color, 70%);
$emphasis-xd-color: lighten($black-color, 30%);

/* Text */
$text-color: $black-color;
$text-color-light: $white-color;
$link-color: $primary-color;
